<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit My Todo App</title>
</head>

<body>
    <h1>So you need to UPDATE an Item - Fire Ahead</h1>
    <form method="POST">
        <!-- <form ...action="{% url 'add' %}">   on the individual cheatsheet, next on the 80 page one  -->
        <!-- <form method="POST" action="add"></form> Had to remove action else looking for url add/add/ -->
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <div>  This was html b4 using Dj inbuilt forms
            <p>
                <label for="id_description">Description:</label>
                <input type="text" id="id_description" name="item_description" />
                <div>
                    <p>
                        <label for="id_done">Done:</label>
                        <input type="checkbox" id="id_done" name="done" />
                    </p>
                </div>
                <div>
                    <p>
                        <button type="submit">Add Item ie Create in CRUD</button>
                    </p>
                </div>
            </p>
        </div> -->
        <div>
            <p>
                <button type="submit">Update Item ie Update in CRUD</button>
            </p>
        </div>
    </form>

</body>

</html>